body{
 color: #FFF4B7;   
 background-color: #003161;
}
h3{
    text-align: center;

}
.primeiro-título{
color: #000B58; 
background-color:#FFF4B7 ;
padding: 25px;
margin: 20px;
}
a{
    color: black;
}
header{
 background-color: #006A67;
    
}